<header>
  <mat-toolbar>
    <span>Nitro Front End Proficiency Test</span>
  </mat-toolbar>
</header>

<body style="margin: 1em">
<div>
  <section style="margin-bottom: 1em">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="grouping" (change)="updateSelection(group.value)" aria-label="Tree Grouping Sort Selection">
      <mat-button-toggle [value]="groupingEnum.DATE">{{groupingEnum.DATE}}</mat-button-toggle>
      <mat-button-toggle [value]=groupingEnum.AUTHOR>{{groupingEnum.AUTHOR}}</mat-button-toggle>
      <mat-button-toggle [value]=groupingEnum.LOCATION>{{groupingEnum.LOCATION}}</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-flat-button color="primary" class="update-button" (click)="tree.createTree()">Refresh Tree</button>
  </section>
</div>
<div>
  <app-tree-view [grouping]="grouping" [posts]="posts"></app-tree-view>
</div>
</body>
